.header {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
  height: 100%;
  left: 0px;
  top: 0px;
  background: linear-gradient(
      rgba(115, 61, 203, 0.65),
      rgba(115, 61, 203, 0.65)
    ),
    url(/images/children-playing-grass\ 1.png) no-repeat;
  background-size: cover;
  border: 28px solid #ffffff;
  background-position: center;
  background-repeat: no-repeat;
}
.divMenu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 15rem;
}
.imgNor {
  width: 10rem;
}

.divImg {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 3rem;
  width: 50%;
}
.divImg p {
  width: 477px;
  font-family: 'Baloo 2';
  font-weight: 600;
  font-size: 50px;
  color: #ffffff;
}
.botaoDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 223px;
  height: 48px;
  left: 100px;
  top: 538px;
  background: #ff5d55;
  border-radius: 100px;
  font-family: 'Baloo 2';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: -0.02em;
  color: #ffffff;
}
.divImgMob {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 3rem;
  width: 50%;
}
.divMenu img {
  height: 103px;
  width: 223px;
  left: 100px;
  top: 72px;
  border-radius: 0px;
  background-size: cover;
}
.menu {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 50%;
  height: 100vh;
}
.menu ul {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.menu li {
  padding: 1rem;
  color: #ffffff;
  font-family: 'Montserrat Alternates';
  font-size: 22px;
  font-weight: 500;
  line-height: 72px;
  letter-spacing: -0.02em;
  text-align: left;
  padding: 2rem;
}
.divTextosContainer {
  display: flex;
  justify-content: left;
  flex-direction: column;
  width: 100%;
  flex-wrap: nowrap;
}
.divTextos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4rem;
  max-width: 600px;
  padding: 3rem;
  align-items: center;
}

.divTextoP {
  display: flex;
  align-items: center;
  width: 477px;
  height: 216px;
  left: 100px;
  top: 274px;
  font-family: 'Montserrat Alternates', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 72px;
  letter-spacing: -0.02em;
  color: #ffffff;
  padding: 2rem;
}

.botao {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 223px;
  height: 48px;
  background: #ff5d55;
  border-radius: 100px;
}
.botao h1 {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: -0.02em;
  color: #ffffff;
  padding: 2rem;
}

.btnDivScroll {
  width: 100%;
  background-color: #ff5d55;
  bottom: 0;
  left: 0;
}

.mobileButton {
  background: #eee;
  border-radius: 0.2rem;
  height: 40px;
  width: 40px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  transition: 0.1s;
  cursor: pointer;
}
.mobileButton::after {
  content: '';
  display: block;
  width: 1.2rem;
  height: 2px;
  background: currentColor;
  box-shadow: 0 6px currentColor, 0 -6px currentColor;
  transition: 1.2s;
}
.mobileButton:focus,
.mobileButton:hover,
.mobileButtonAtivo {
  outline: none;
  background: white;
  box-shadow: 2px 2px 1px gray;
  color: #cd853f;
}
.mobileButtonAtivo::after {
  transform: rotate(90deg);
  width: 4px;
  height: 4px;
  box-shadow: 0 8px currentColor, 0 -8px currentColor;
}

/* mobile */

.headerMob {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(
      rgba(115, 61, 203, 0.65),
      rgba(115, 61, 203, 0.65)
    ),
    url(/images/children-playing-grass\ 1.png) no-repeat;
  background-size: cover;
  border: 28px solid #ffffff;
  background-position: center;
  background-repeat: no-repeat;
}
.menuMob {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 100%;
}

.menuMob ul {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: flex-end;
  flex-wrap: wrap;
  list-style: none;
}

.menuMob li {
  padding: 1rem;
  color: #ffffff;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: -0.02em;
  text-align: left;
}

.imgMobile {
  width: 10rem;
}
.divImgMob {
  display: flex;
  justify-content: flex-start;
  margin-top: 3rem;
  width: 100%;
}
.divImgMob p {
  width: 277px;
  font-family: 'Baloo 2';
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
}
/* mobile */
