.container {
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.containerTexto {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.containerTexto2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.imgsColor {
  width: 40rem;
  height: 30rem;
  opacity: 0.8;
  clip-path: polygon(56% 48%, 97% 77%, 100% 100%, 16% 86%, 7% 13%);
}
.titulo {
  font-family: 'Baloo 2';
  font-style: normal;
  font-weight: 400;
  font-size: 54px;
  line-height: 68px;
  letter-spacing: -0.02em;
  color: #733dcb;
}
.texto {
  font-family: 'Baloo 2';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
  letter-spacing: -0.02em;
  color: #303030;
}
.subTexto {
  font-family: 'Baloo 2';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
  letter-spacing: -0.02em;
  color: #303030;
}
