.containerFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #733dcb;
  width: 100%;
  margin-top: 9rem;
}
.containerFooterMob {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #733dcb;
  width: 100%;
  margin-top: 9rem;
  background-color: #ff5d55;
}
.divConteudo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 3rem;
}
.Subdiv {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  height: 216px;
  background: #fafafa;
  border-radius: 10px;
  position: relative;
  bottom: 5rem;
  -webkit-box-shadow: -1px -7px 32px 7px rgba(115, 61, 203, 0.71);
  box-shadow: -1px -7px 32px 7px rgba(115, 61, 203, 0.71);
}

.SubdivMob {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 50%;
  height: 216px;
  background: #fafafa;
  border-radius: 10px;
  position: relative;
  bottom: 5rem;
  -webkit-box-shadow: -1px -7px 32px 7px rgba(115, 61, 203, 0.71);
  box-shadow: -1px -7px 32px 7px rgba(115, 61, 203, 0.71);
}
.conatinerDivTexto {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}
.botao {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 223px;
  height: 48px;
  left: 1117px;
  bottom: 228px;
  background: #ff5d55;
  border-radius: 100px;
  font-family: 'Baloo 2';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: -0.02em;
  color: #ffffff;
}
.paragrafo {
  font-family: 'Baloo 2';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: -0.02em;
  color: #ffffff;
}

/* mobile */

.containerFooterMob {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: #733dcb;
  width: 100%;
  margin-top: 9rem;
}

.SubdivMob {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  background: #fafafa;
  border-radius: 10px;
  position: relative;
  bottom: 5rem;
  -webkit-box-shadow: -1px -7px 32px 7px rgba(115, 61, 203, 0.71);
  box-shadow: -1px -7px 32px 7px rgba(115, 61, 203, 0.71);
}
.SubdivMob img {
  display: flex;
  flex-wrap: wrap;
  background-size: cover;
  width: 3rem;
}

.divConteudoMob {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #733dcb;
}

.conatinerDivTextoMob {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}
.conatinerDivTextoMob p {
  display: flex;
  flex-wrap: wrap;
  font-size: 1rem;
}

/* mobile */
